<a href="https://colab.research.google.com/github/Mohdd-Afaan/data-science-master-2.0/blob/main/Assessment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create one variable containing following type of data:

In [ ]:
a = "rouf"

In [ ]:
b = [1,2.3,"sand"]

In [ ]:
c = 3.3

In [ ]:
d = (3,4.9,"loaf",["west",6,7.8,5+4j])

Q2. Given are some following variables containing data:

In [ ]:
var1 = ' ' #str

In [ ]:
var2 = '[ DS , ML , Python]' #str

In [ ]:
var3 = [ 'DS' , 'ML' , 'Python' ] #list

In [ ]:
var4 = 1. #float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
2/3 #division

0.6666666666666666

In [ ]:
3%2 #modulus

1

In [ ]:
2//3 #floor division

0

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
a = [1,1.2,'cat',(2,33.55,"cart",[3,9.9,"king",4+7j]),[1,3,"trick"],True]
for i in a :
  print(type(i))
  print(i)

<class 'int'>
1
<class 'float'>
1.2
<class 'str'>
cat
<class 'tuple'>
(2, 33.55, 'cart', [3, 9.9, 'king', (4+7j)])
<class 'list'>
[1, 3, 'trick']
<class 'bool'>
True

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [82]:
a = 6
b = 2
while a % b == 0:
    print(a/b)
    break
#in the above case 6 is purely dvisible by 2 as its remainder results 0 and 6 can e divided 3 times by 2

3.0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [74]:
z = list(range(25))
for i in z:
  if i % 3 == 0:
    print(f"{i} is divisible by 3")
  else :
    print(f"{i} is not divisible by 3")

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans. Mutable is a object or enity than can be mutated/changed eg: a list, a whole sting etc whereas immutable is a object or enity than cannot be mutated/changed eg: a tuple, a alphabet inside a string

In [69]:
f = [ 'DS' , 'ML' , 'Python' ] #mutable
f[2] = 10
print(f)

['DS', 'ML', 10]

In [72]:
g = "python"
g[2] = "n"

TypeError: ignored