<a href="https://colab.research.google.com/github/Mohdd-Afaan/data-science-master-2.0/blob/main/MySql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database can be defined as an organization of structured information, or data typically stored electronicaly stored in a computer.
SQL databases are primally called relational databases whereas NoSQL databases are primary called as non-relatonal databases.SQL databases have fixed or static or predefined schema whereas NoSQL databases have a dynamic schema.SQL databases are vertically scalable whereas NoSQL databases are horzontally scalable.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for "Data Defintion Language" that is a subset of SQL. It is used for defining and managing database structures. DDL statements are responcible for defining the structure that holds data and the relationships between them.

In [ ]:
# CREATE : It is used to create database objects such as tables, indexes, views and stored procedures.
CREATE TABLE students(
    students_id INT(6) PRIMARY KEY,
    first_name VARCHAR (100),
    last_name VARCHAR (100),
    email VARCHAR (500),
    address VARCHAR (500)
);
# DROP : It is used to delete existing database objects like tables, indexes or views
DROP TABLE students;
# ALTER : It is used to modify stuctures of existing database by adding or deleting column in table
ALTER TABLE students
DROP COLUMN email;
# TRUNCATE : It is sed to remove all the records from the table, but the table structure drfinition remains intact
TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML stands for "Data Manupulation Language" and it is a subset of SQL that deals wiith the manupulation of data stored in a database.

In [ ]:
# Insert is used to add new records into a table
INSERT INTO students(students_id, first_name, last_name, email, address)
VALUES (1, 'mike' , 'smith' , 'mikesmith@xyz.com','24-street Alaska');
# UPDATE : It is used to modify existing data on a specific condition
UPDATE students
SET first_name = 'jack'
where students_id = 1;
# DELETE : It is used to remove a record based in specific condition
DELETE FROM students
where students_id = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for "Data Query Language" that is a subset of SQL that is used for querying orretriving data from a database

In [ ]:
# SELECT : It is used to retrive data from ome or more tables. The select statement allows us to specify the the columns that we want to retrive or the condition that must be met by the rowsuncluded in results
# Selecting all columns from the "students" table
SELECT *
FROM students;
# Adding a condition using WHERE
SELECT *
FROM students
where students_id = 1;

Q5. Explain Primary Key and Foreign Key.

Ans: A primary key is a field or a set of fields in a database that uniquely identifies each record in that table it cannot be null. It contains unique values Whereas A foreign key is a field in the database that is used to establish a link between two tables it creates a relationship between the data in two tables by referencing the primary key of one table from another table the table containing the foreign key is called referencing table and table being referenced is called referenced table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [5]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 60.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=7d2ad632629f596d2d73a52029dc6411b57d7226aa6f07ec6f7f1e9fe5623497
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [9]:
import mysql.connector
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "password"
    # auth_plugin ="mysql_native_password"
)
print(conn)

In [ ]:
# cursor is used to create cursor object, which is requiredto execute SQL queries and fetch results. The cursor acts as a pointor to the result set of query
cursor = conn.cursor()

In [ ]:
# Execute mrthod is used to execute sql queries. It takes sql quries as its argument.
cursor.execute("CREATE TABLE PERFORMANCE IF NOT EXISTStestdb.performance(id INT(6),name VARCHAR(100), grade VARCHAR(1)")
conn.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans: 1) SELECT
     2) FROM
     3) JOIN
     4) WHERE
     5) GROUP BY
     6) HAVING
     7) ORDER BY
     8) LIMIT