<a href="https://colab.research.google.com/github/Mohdd-Afaan/data-science-master-2.0/blob/main/Pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

In [5]:
ser_1 =pd.Series([4,8,15,16,23,42])

In [7]:
type(ser_1)

pandas.core.series.Series

In [10]:
ser_1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [16]:
var_1 = [1,2,3,'dog','cat','hen','antartica','alaska','norway',1.345]
ser_2 = pd.Series(var_1)
print(ser_2)

0            1
1            2
2            3
3          dog
4          cat
5          hen
6    antartica
7       alaska
8       norway
9        1.345
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [20]:
var_2 = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df_1 = pd.DataFrame(data=var_2)
print(df_1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans: In pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. A Series is a one-dimensional array with an index, while a DataFrame is a two-dimensional tabular structure with both row and column indices. We can use the code above for example like:

In [22]:
print(type(ser_1))
print(type(df_1))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans: Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions:
1) head() and tail():Used to view the first or last n rows of a DataFrame.
2) info(): Provides a concise summary of a DataFrame, including data types and  
           missing values.
3) describe():Generates descriptive statistics of the DataFrame's numerical     
              columns.
4) shape: Returns a tuple representing the dimensions (rows, columns) of the
          DataFrame.
5) columns: Returns the column labels of the DataFrame.

In [23]:
df_1.head(1)

    Name  Age  Gender
0  Alice   25  Female

In [24]:
df_1.tail(1)

     Name  Age  Gender
2  Claire   27  Female

In [25]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [26]:
df_1.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [27]:
df_1.shape

(3, 3)

In [28]:
df_1.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: Among Series, DataFrame, and Panel in Pandas, only DataFrame is mutable in nature. This means you can modify the content of a DataFrame after it has been created. Both Series and Panel are immutable.
Series:
  Immutable: Once a Series is created, you cannot change its elements or size.
  You can, however, create a new Series with modified values based on the original Series.
DataFrame:
  Mutable: You can add, remove, or modify columns and rows in a DataFrame after its creation.
  Operations such as adding a new column, modifying an existing column, or dropping columns/rows are allowed.
Panel:
  Immutable: Panels were used for three-dimensional data structures in older versions of Pandas (prior to version 0.25.0), but they have been removed in favor of using MultiIndex DataFrames.
  MultiIndex DataFrames, like regular DataFrames, are mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
series_1 = pd.Series([1,5,3,2],name='Column_1')
series_2 = pd.Series(['apple','mango','peach','pear'],name='Column_2')
series_3 = pd.Series([9,3,5,0],name='Column_3')
data_2 = {'Column_1':series_1,'Column2':series_2,'Column_3':series_3}
df_2= pd.DataFrame(data = data_2)
print(df_2)

   Column_1 Column2  Column_3
0         1   apple         9
1         5   mango         3
2         3   peach         5
3         2    pear         0